@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

.info__card {
  font-family: "Roboto", sans-serif;
  img {
    height: 80px;
  }

  h3 {
    color: darkcyan;
  }
}
