@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.testimonial {
  font-family: "Roboto", sans-serif;
  .wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

    p {
      font-style: italic;
      padding: 15px;
    }

    .info {
      img {
        height: 180px;
        border-radius: 50px;
      }

      h5 {
        padding-top: 20px;
        font-style: italic;
      }
    }
  }
}

// Media

@media (min-width: 600px) {
  .testimonial {
    .wrapper {
      p {
        font-size: 1.5em;
        padding: 20px;
      }

      .info {
        img {
          height: 210px;
        }

        h5 {
          font-size: 1.8em;
        }
      }
    }
  }
}

@media (min-width: 1070px) {
  .testimonial {
    .wrapper {
      p {
        font-size: 1.8em;
        padding: 30px;
      }

      .info {
        h5 {
          font-size: 2em;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .testimonial {
    max-width: 900px;
    .wrapper {
      p {
        font-size: 2em;
        padding: 40px;
      }

      .info {
        img {
          height: 210px;
        }

        h5 {
          font-size: 2em;
        }
      }
    }
  }
}
