@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

.banner {
  background-color: #f8f9fa;
  height: 80vh;
  h1 {
    font-family: "Roboto Condensed", sans-serif;
  }
}
